 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/911422be545be4f478713eca7a6b0d9f040226d3f320e8c032fe9830d83c447c65b4c420293e927c5c5e0ce95a2606ceda494da50a0a9317b6fd44_1280-17.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1200px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1014px;
  margin: 221px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 252px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  width: 236px;
  margin: 0 auto;
}

.u-section-1 .u-line-1 {
  width: 106px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 22px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  width: 169px;
  margin: 34px auto 0;
}

.u-section-1 .u-text-3 {
  width: 398px;
  margin: 12px auto 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 478px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 9px 92px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 16px auto 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 9px 292px 0 0;
}

.u-section-1 .u-icon-3 {
  height: 38px;
  width: 38px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-1 .u-icon-4 {
  height: 38px;
  width: 38px;
  background-image: none;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 8px 166px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 478px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-form-1 {
  margin: 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #1281e8, #9bcaf6);
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-top: 190px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 234px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 462px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 55px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 255px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 129px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 317px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 213px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 223px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 414px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 145px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 19px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1400px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: 300px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 31px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 11px;
  }

  .u-section-1 .u-icon-4 {
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-right: 103px;
    margin-left: 132px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1450px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-right: 60px;
    margin-left: 45px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 7px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 11px;
    margin-right: 30px;
    margin-left: 45px;
  }

  .u-section-1 .u-form-1 {
    height: 313px;
    width: 320px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
  }
}